.container-header {
  width: 100%;
  height: 550px;
  background: url(../../public/image/coffee-header.jpg);
  // position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  // border: 1px solid red;
  &__background {
    width: 100%;
    height: 550px;
    background-color: #00000080;
  }
  &__info {
    // border: 1px solid violet;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto; // Pour centrer
    width: 90%;
    .container-information {
      display: flex;
      flex-direction: column;
      align-items: left;
      height: 10vh;
      @include media(smallMobile) {
        height: 8vh;
      }
      &__info {
        margin: 0px 0px 5vh 2px;
        &--modifier {
          color: #ffffff;
        }
        h1 {
          @include media(smallMobile) {
            font-size: 23.4pt;
          }
        }
        h2 {
          margin: -10px 0px 0px 3px;
          font-size: medium;
          color: #dadada;
        }
      }
    }
    .bio {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      &__element {
        font-size: small;
        margin: 0px 0px 5vh 2px;
        white-space: pre-line;
        // height: 5hv;
        &--modifier {
          color: #dadada;
        }
      }
      a {
        color: #569ded;
        text-decoration: none;
      }
      .tech {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        &--modifier {
          color: #f0f0f0;
        }
      }
    }
  }
  // Pour overlay fontawesome tech
  .container-overlay {
    @include media(mobile) {
      display: flex;
      flex-direction: column;
      span {
        font-size: medium;
      }
      .overlay {
        display: none;
        &__text {
          font-size: medium;
          margin: 0 0px 0 -8px;
          &--modifier {
            color: white;
          }
        }
      }
      // Mécanisme overlay hover
      // @include overlayTech;
      // .overlay {
      //   height: 2.7em;
      //   left: 7.5vh;
      //   top: 50vh;
      //   width: 2.6em;
      // }
      // }
      // }
      // .container-overlay-2 {
      //   @include media(mobile) {
      //     .overlay {
      //       display: none;

      //       &__text {
      //         font-size: medium;
      //         margin: 0px 0px 0 -10px;
      //         &--modifier {
      //           color: white;
      //         }
      //       }
      //     }
      //     //   @include overlayTech;
      //     //   .overlay {
      //     //     height: 2.7em;
      //     //     width: 2.5em;
      //     //     top: 50vh;
      //     //     left: 17.5vh;
      //     //   }
      //   }
      // }
      // .container-overlay-3 {
      //   @include media(mobile) {
      //     .overlay {
      //       display: none;

      //       &__text {
      //         font-size: medium;
      //         margin: 0 0px 0 -8px;
      //         &--modifier {
      //           color: white;
      //         }
      //       }
      //     }
      //     // @include overlayTech;
      //     // .overlay {
      //     //   height: 2.7em;
      //     //   width: 2.5em;
      //     //   top: 50vh;
      //     //   left: 26.45vh;
      //     //   &__text {
      //     //     left: 6% !important;
      //     //   }
      //     // }
      //   }
      // }
      // .container-overlay-4 {
      //   @include media(mobile) {
      //     .overlay {
      //       display: none;

      //       &__text {
      //         font-size: medium;
      //         margin: 0 0px 0 -8px;
      //         &--modifier {
      //           color: white;
      //         }
      //       }
      //     }
      // @include overlayTech;
      // .overlay {
      //   height: 2.7em;
      //   width: 2.5em;
      //   top: 50vh;
      //   left: 34.8vh;
      //   &__text {
      //     left: 6%;
      //   }
      // }
    }
  }
  // .container-overlay-5 {
  //   @include media(mobile) {
  //     @include overlayTech;
  //     .overlay {
  //       height: 2.7em;
  //       width: 2.5em;
  //       top: 52vh;
  //       left: 35.4vh;
  //       &__text {
  //         left: 15%;
  //       }
  //     }
  //   }
  // }

  &__nav {
    box-shadow: none !important;
    background: transparent !important;
    position: sticky; //ou fixed, Pour pouvoir faire suivre le nav quand on scroll vers le bas
    width: 100%;
    z-index: 99;
    height: 14vh;
    .nav {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      bottom: 10%;
      // border: 1px solid blue;
      &__logo {
        height: 13vh;
        bottom: 0vh;
        text-align: center;
      }
      &--modifier {
        z-index: 99;
      }
      img {
        height: 100%;
        width: 100px;
        z-index: 99;
      }
    }
  }
}
