#navId {
  display: none;
}
.nav {
  @include media(mobile) {
    display: none;
    margin: 0 0 0 -10px;
  }
  .darkmode {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 0 15px 0;
    &__police {
      font-size: medium;
    }
    .toggle {
      display: none;
    }
    .toggleBtn {
      border: 3px solid #9e9191;
      border-radius: 16px;
      align-self: center;
      cursor: pointer;
      display: block;
      width: 70px;
      height: 30px;
      outline: 0;
      transition: all 0.2s ease-in-out;
      user-select: none;
      &::after {
        left: 49%;
        background-color: #9e9191;
        content: "";
        border-radius: 16px;
        width: 50%;
        overflow: hidden;
        height: 93%;
        position: relative;
        display: block;
        margin: 1px 0 0 0;
      }
    }
  }
}
.nav-open {
  @include media(mobile) {
    @include navOpenClose;
    animation: nav--open 1s ease-in-out 0s 1 normal forwards;
    @include drapeaulangue;
    .fa-circle-half-stroke {
      color: black;
      margin: 0 5px 0px 0px;
    }
  }
}
.nav-close {
  @include media(mobile) {
    @include navOpenClose;
    animation: nav--close 1s ease-in-out 0s 1 normal forwards;
  }
}
.nav-animation {
  @include media(mobile) {
    @include navOpenClose;
    animation: menu 1.9s cubic-bezier(0.61, 0.74, 0.8, 0.65) 0s 1 normal
      forwards;
  }
}
