@keyframes loading--spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loading--exit {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes nav--open {
  100% {
    left: 0;
    z-index: 1;
  }
  0% {
    left: 100%;
    z-index: 1;
  }
}
@keyframes nav--close {
  100% {
    left: 100%;
    z-index: 1;
  }
  0% {
    left: 0%;
    z-index: 1;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: #001534;
}
@media (max-width: 576px) {
  body {
    background: white;
  }
}

.wrapper {
  display: none;
}

body {
  font-family: Verdana, "Geneva", Tahoma, sans-serif;
  color: #15dea5;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}

h1 {
  font-family: Verdana, "Geneva", Tahoma, sans-serif;
  font-weight: 900;
  font-size: 5rem;
  font-style: italic;
}

textarea {
  font-family: Verdana, "Geneva", Tahoma, sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

button {
  font-family: Verdana, "Geneva", Tahoma, sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;
}

.container-hamburger {
  padding: 0;
}
.container-hamburger .hamburger-toggle {
  position: relative;
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}
@media (max-width: 576px) {
  .container-hamburger .hamburger-toggle {
    visibility: visible;
    z-index: 99;
  }
}
.container-hamburger .hamburger-toggle:focus {
  outline-width: 0;
}
.container-hamburger .hamburger-toggle [class*=bar-] {
  background: #3bc1b0;
  display: block;
  transform: rotate(0deg);
  transition: 0.2s ease all;
  border-radius: 14px;
  height: 5px;
  width: 34px;
  margin-bottom: 6px;
}
.container-hamburger .hamburger-toggle .bar-bot {
  margin-bottom: 0;
}
.container-hamburger .opened .bar-top {
  transform: rotate(45deg);
  transform-origin: 2px 3px;
}
.container-hamburger .opened .bar-mid {
  opacity: 0;
}
.container-hamburger .opened .bar-bot {
  transform: rotate(-45deg);
  transform-origin: 0px 3px;
}

.loading--circle {
  display: flex;
  justify-content: center;
}
.loading--circle .loading--box {
  display: flex;
  justify-content: center;
}
.loading--circle .loading--box .percentage {
  color: white;
  font-size: medium;
  font-weight: 900;
  align-items: center;
  position: absolute;
}
@media (max-width: 576px) {
  .loading--circle .loading--box .percentage {
    color: black;
    font-size: medium;
    font-weight: 900;
    align-items: center;
    position: fixed;
  }
}
.loading--circle .loading--full-hight {
  align-items: center;
  position: fixed;
  /* or absolute */
  top: 25%;
  left: 45%;
}
@media (max-width: 576px) {
  .loading--circle .loading--full-hight {
    top: 25%;
    left: 45%;
  }
}
.loading--circle .loading--box::before {
  content: "";
  width: 70px;
  height: 70px;
  border: 10px solid #6c51a4;
  border-radius: 25%;
  transform: rotate(0.16turn);
  animation: loading--spin 1s ease infinite;
}
@media (max-width: 576px) {
  .loading--circle .loading--box::before {
    width: 70px;
    height: 70px;
    border-radius: 25%;
  }
}

.loading--circle::after {
  content: "";
  width: 60px;
  height: 60px;
  border: 10px solid #6c51a4;
  border-top-color: #2f435c;
  border-radius: 50%;
  transform: rotate(1turn);
  animation: loading--spin 0.3s ease infinite;
}
@media (max-width: 576px) {
  .loading--circle::after {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}

.loading--full-hight {
  align-items: center;
  position: fixed;
  /* or absolute */
  top: 25.5%;
  left: 46.5%;
}
@media (max-width: 576px) {
  .loading--full-hight {
    top: 25.5%;
    left: 46.5%;
  }
}

.wrapper-logo {
  height: 500px;
}
.wrapper-logo .header {
  width: 100%;
  height: 400px;
  background: url(../../public/image/coffee-header.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.wrapper-logo .header .wellcome {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  position: relative;
  margin: auto;
  bottom: 10%;
}
.wrapper-logo .header .logo-container {
  height: 200px;
  text-align: center;
}
.wrapper-logo .header .header__logo {
  z-index: 99;
}
.wrapper-logo .header img {
  height: 100%;
  width: 100px;
  z-index: 99;
}

#navId {
  display: none;
}

@media (max-width: 576px) {
  .nav-open {
    background-color: red;
    height: 100%;
    position: fixed;
    width: 100%;
    animation: nav--open 1s ease-in-out 0s 1 normal forwards;
  }
}
.nav-open .nav {
  display: block;
  padding: 7em 0px 0px 8%;
}
.nav-open .nav ul li {
  list-style: none;
}
.nav-open .nav ul li a {
  color: white;
  text-decoration: none;
}

@media (max-width: 576px) {
  .nav-close {
    background-color: red;
    height: 100%;
    position: fixed;
    width: 100%;
    animation: nav--close 1s ease-in-out 0s 1 normal forwards;
  }
}

@media (max-width: 576px) {
  .nav {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
