.nav {
  display: none;
  @include media("dekstop") {
    display: block;
    @include darkmode;
    .darkmode {
      color: $colour-text-light;
      .toggleBtn {
        border: 3px solid #9e9191;
        &::before {
          background-color: #9e9191;
        }
      }
      @include darkmode-animation;
    }
  }
}

.nav-desktop {
  @include darkmode;
}
