.nav {
  @include media(mobile) {
    .darkmode {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 0 0 15px 0;
      &__police {
        font-size: medium;
      }
      .toggle {
        display: none;
      }
      .toggleBtn {
        border: 3px solid #9e9191;
        border-radius: 16px;
        align-self: center;
        cursor: pointer;
        display: block;
        width: 70px;
        height: 30px;
        outline: 0;
        transition: all 0.2s ease-in-out;
        user-select: none;
        &::before {
          left: 1%;
          background-color: #9e9191;
          content: "";
          border-radius: 16px;
          width: 50%;
          overflow: hidden;
          height: 93%;
          position: relative;
          display: block;
          margin: 1px 0 0 0;
          cursor: pointer;
          // animation: darkmode 0.4 ease-in-out 0 1 forwards;
        }
      }
      input {
        // &:checked + .toggleBtn{
        // background-color: #821B72;;
        // }

        &:focus + .toggleBtn {
          box-shadow: 0 0 0 4px #159ce4b3;
          outline: none;
        }
        &:checked + .toggleBtn::before {
          animation: darkmode-active 1s ease-in-out 0s 1 normal forwards;
          margin: 1px 0 0px -2px;
        }
        &:not(:checked) + .toggleBtn::before {
          animation: darkmode-desactive 1s ease-in-out 0s 1 normal forwards;
        }
      }
    }
  }
}
