.hamburger {
  padding: 0 0 15px 0;
  .hamburger-toggle {
    @include media(mobile) {
      visibility: visible;
      z-index: 99;
    }
    @include hamburgerBtnFalse;
  }
  .opened {
    @include hamburgerBtnTrue;
  }
}
