@mixin heading-shadow(
  $colour: lightness-shift($colour-primary),
  $offset: $heading-shadow-size
) {
  text-shadow: $offset $offset $colour;
}

@mixin border($colour: $colour-primary) {
  border: 0.1rem solid $colour;
}

@mixin img-ratio {
  width: 100%;
  display: block;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  & img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }
}

@mixin hamburgerBtnFalse {
  padding: $grid-gutter;
  position: relative;
  background: transparent;
  border: 1px solid transparent;
  left: 40%;
  cursor: pointer;
  &:focus {
    outline-width: 0;
  }
  [class*="bar-"] {
    background: #3bc1b0;
    display: block;
    transform: rotate(0deg);
    transition: 0.2s ease all;
    border-radius: 12px;
    height: 5px;
    width: 50px;
    margin-bottom: 12px;
  }
  .bar-bot {
    margin-bottom: 0;
  }
}

@mixin hamburgerBtnTrue {
  .bar-top {
    transform: rotate(45deg);
    transform-origin: 2px 3px;
  }
  .bar-mid {
    opacity: 0;
  }
  .bar-bot {
    transform: rotate(-45deg);
    transform-origin: 0px 3px;
  }
}

// Breakpoints here
// Utilisation ex: @include mobile-only { grid-template-columns: 1fr;}
@mixin mobile-only {
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}
// @include tablet-only { grid-template-columns: 1fr;}
@mixin tablet-only {
  @media screen and (max-width: map-get($breakpoints, tablet)) {
    @content;
  }
}
// @include dekstop-only { grid-template-columns: 1fr;}
@mixin dekstop-only {
  @media screen and (max-width: map-get($breakpoints, dekstop)) {
    @content;
  }
}
// @include LGdekstop-only { grid-template-columns: 1fr;}
@mixin LGdekstop-only {
  @media screen and (max-width: map-get($breakpoints, LGdekstop)) {
    @content;
  }
}

@mixin XLdekstop-only {
  @media screen and (max-width: map-get($breakpoints, XLdekstop)) {
    @content;
  }
}
