$colour-primary: #15dea5;
$colour-secondary: #001534;
$colour-accent: #d6fff5;
$colour-invalid: #db464b;
$colour-background-mobile: white;
$colour-text-light: #3bc1b0;
$colour-text: white;
$coulour-li-border-bottom: #7a7a7a;
$coulour-bacground-link-active: #2980b9;
$coulour-bacground-link-active-hover: #236d9e;
$coulour-lang: #34495e;
$coulour-lang-hover: #2c3e50;
$button-header: #ba8c63;
$button-header-hover: #9e7653;

$heading-shadow-size: 0.55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * 0.25;
